---
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Card.astro";
import ReactHello from "../../components/ReactHello";

const response = await fetch("https://randomuser.me/api/");
const data = await response.json();
const randomUser = data.results[0];
---

<Layout title="About astro.">
  <main>
    <h1>About astro</h1>
    <ul role="list" class="link-card-grid">
      <Card href="/" title="Home" body="Go to home page." />
    </ul>
    <h2>Render with React</h2>
    <ReactHello className="mt-2" client:load />
    <hr class="my-4" />
    <h2>SSR with Random User</h2>
    <h3>{randomUser.name.first} {randomUser.name.last}</h3>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 0;
  }
</style>
